databases:
  - name: trip-planner-db
    plan: free
    postgresMajorVersion: 15

services:
  - type: web
    name: trip-planner-backend
    env: docker
    rootDir: backend
    plan: free
    autoDeploy: true

    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: trip-planner-db
          property: connectionString

      - key: DJANGO_SETTINGS_MODULE
        value: config.settings.production

      - key: SECRET_KEY
        generateValue: true

      - key: DEBUG
        value: false
